@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
	font-weight: 300;
}

.top-m-gutter{
padding-top: 20px;
}
.bottom-m-gutter{
padding-bottom: 20px;
}
.m-gutter{
padding-top: 20px;
padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.date-gutter{
  padding-right: 10px;
}

.top-l-gutter{
  padding-top: 30px;
}
.bottom-l-gutter{
  padding-bottom: 30px;
}
.l-gutter{
  padding-top: 30px;
}

.top-xl-gutter{
  padding-top: 40px;
}
.bottom-xl-gutter{
  padding-bottom: 40px;
}
.xl-gutter{
  padding-top: 40px;
}

.textpage{
  padding: 10px;
  font-size: 1.3em;
  font-family: Arial, sans-serif;
//  color: #aaa;
  border: solid 1px #ccc;
  margin: 0 0 20px;
  width: 300px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.textpagetitle{
  padding: 10px;
  font-size: 1.3em;
  font-family: Arial, sans-serif;
//  color: #aaa;
  border: solid 1px #ccc;
  margin: 0 0 20px;
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.textpagedescription{
  padding: 10px;
  font-size: 1.3em;
  font-family: Arial, sans-serif;
//  color: #aaa;
  border: solid 1px #ccc;
  margin: 0 0 20px;
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.scrollbar
{
  margin-left: 30px;
  float: left;
  height: 300px;
  width: 65px;
  background: #F5F5F5;
  overflow-y: scroll;
  margin-bottom: 25px;
}

.btnsave {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btnsave:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

